.main__content {
    max-width: 688px;
    margin-top: 211px;
    margin-bottom: 239px;

    z-index: 1;
}
.catalog-menu {
    position: fixed;
    top: 500px;
    left: 50%;
    z-index: 2;

    display: flex;
    align-items: center;
    column-gap: 80px;
    width: 100%;
    padding: 500px 120px;

    transform: translateX(-50%);

    animation: show-header 0.8s ease-out forwards;
}
